@model Villa

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Villa</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="VillaId" hidden />
            <div class="p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaName" disabled class="form-control border shadow" />
                    <label asp-for="VillaName" class="ms-2"></label>
                    <span asp-validation-for="VillaName" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaDescription" disabled class="form-control border shadow" />
                    <label asp-for="VillaDescription" class="ms-2"></label>
                    <span asp-validation-for="VillaDescription" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaPrice" disabled class="form-control border shadow" />
                    <label asp-for="VillaPrice" class="ms-2"></label>
                    <span asp-validation-for="VillaPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaSizeInSquareFeet" disabled class="form-control border shadow" />
                    <label asp-for="VillaSizeInSquareFeet" class="ms-2"></label>
                    <span asp-validation-for="VillaSizeInSquareFeet" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaOccupancy" disabled class="form-control border shadow" />
                    <label asp-for="VillaOccupancy" class="ms-2"></label>
                    <span asp-validation-for="VillaOccupancy" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaImageUrl" disabled class="form-control border shadow" />
                    <label asp-for="VillaImageUrl" class="ms-2"></label>
                    <span asp-validation-for="VillaImageUrl" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Villa" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}